<template>
  <div>
    <Header
      login="/loginStreamer"
      signup="/signupStreamer"
      title="Área Streamer"
    />
    <div class="inner-block-dash">
      <div class="jumbotron" v-if="!error">
        <h2 class="display-4">Doações recebidas de inscritos</h2>

        <hr class="my-4" />

        <h5 v-if="donations.length == 0">Você ainda não recebeu doações</h5>

        <table v-if="donations.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente doador</th>
              <th scope="col">Tipo</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="donation in donations" :key="donation.id">
              <th scope="row">{{ donation.id }}</th>
              <td>{{ donation.client.name }}</td>
              <td>{{ donation.type }}</td>
              <td>R$ {{ donation.value.toFixed(2).replace(".", ",") }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 v-else>{{ error }}/</h4>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import { Endpoints } from "../../shared/endpoints";
import Header from "@/views/Header.vue";

export default {
  name: "DashboardTemplateStreamer",
  data() {
    return {
      donations: [],
      error: null,
    };
  },
  components: {
    Header,
  },
  beforeMount(){
    this.$store.dispatch("auth/user", JSON.parse(localStorage.getItem("user")));
    if(this.$store.state.auth.user.bank === undefined){
      this.$router.push("dashboardClient");
    }
  },
  async mounted() {

    const config = {
      headers: {
        Authorization: "Bearer " + localStorage.getItem("token"),
      },
    };

    const userId = this.$store.state.auth.user.id
    // console.log(Endpoints.BASE_URL + "/api/streamers/donations?id=3");
    const response = await axios
      .get(Endpoints.BASE_URL + "/api/streamers/donations?id="+userId, config)
      .catch((error) => {
        if (error.response.data.statusCode == 401) {
          localStorage.setItem("token", undefined);
          this.$store.dispatch("auth/token", null);
          this.auth = localStorage.getItem("token") !== "undefined";
          this.$router.push("/");
        } else {
          console.log(error);
        }
      });

    this.donations = response.data.data;
  },
};
</script>