<template>
  <div>
    <Header
      login="/loginStreamer"
      signup="/signupStreamer"
      title="Área Streamer"
    />
    <div class="vertical-center">
      <div class="inner-block">
        <div class="vue-tempalte">
          <div class="login-card-wide mdl-card mdl-shadow--2dp">
            <form @submit.prevent="submit">
              <h3>Login</h3>
              <div :class="{ 'form-group form-group--error': $v.email.$error }">
                <label>Email</label>
                <input
                  class="form-control form-control-lg"
                  type="email"
                  v-model.trim="$v.email.$model"
                />
              </div>
              <!-- <div class="error" v-if="!$v.email.required">
            Informe um email válido!
          </div>
          <div class="error" v-if="!$v.email.minLength">Email muito curto</div> -->

              <br />
              <div
                class="form-group"
                :class="{ 'form-group--error': $v.password.$error }"
              >
                <label>Senha</label>
                <input
                  v-model="$v.password.$model"
                  type="password"
                  class="form-control form-control-lg"
                />
              </div>
              <!-- <div class="error" v-if="!$v.password.required">
            Informe uma senha!
          </div>
          <div class="error" v-if="!$v.password.minLength">
            A senha deve ter no mínimo
            {{ $v.password.$params.minLength.min }} caracteres.
          </div> -->

              <button
                style="margin-top: 40px"
                class="btn btn-dark btn-lg btn-block"
                type="submit"
                :disabled="submitStatus === 'PENDING'"
              >
                Login
              </button>

              <p class="typo__p" v-if="submitStatus === 'OK'">Login feito!</p>
              <p class="typo__p" v-if="submitStatus === 'ERROR'">
                Por favor informe corretamente os dados.
              </p>
              <p class="typo__p" v-if="submitStatus === 'NOT_FOUND'">
                Streamer não encontrado.
              </p>
              <p class="typo__p" v-if="submitStatus === 'PENDING'">
                Aguarde...
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email } from "vuelidate/lib/validators";
import axios from "axios";
import { mapActions } from "vuex";
import { Endpoints } from "../../shared/endpoints";
import Header from "@/views/Header.vue";

export default {
  name: "LoginStreamerForm",
  data() {
    return {
      email: "",
      password: "",
      submitStatus: null,
    };
  },
  components: {
    Header,
  },
  validations: {
    email: {
      required,
      email,
      minLength: minLength(4),
    },
    password: {
      required,
      minLength: minLength(6),
    },
  },
  methods: {
    ...mapActions({
      signIn: "auth/signIn",
    }),

    async submit() {
      //console.log("submit!");
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        const data = {
          username: this.email,
          password: this.password,
        };
        try {
          const respLogin = await axios
            .post(Endpoints.BASE_URL + "/api/users/auth/login", data)
            .catch((error) => {
              this.submitStatus = error;
            });

          const token = respLogin.data.responses.token["access_token"];

          const config = {
            headers: {
              Authorization: "Bearer " + token,
            },
          };

          let userResp;
          try {
            userResp = await axios.get(
              Endpoints.BASE_URL + "/api/streamers/get-streamer",
              config
            );
          } catch (error) {
            console.log("error");
          }

          if (userResp === undefined) {
            this.submitStatus = "NOT_FOUND";
          } else {
            this.submitStatus = "OK";
            //console.log(userResp.data.user)
            const user = userResp.data.user;
            localStorage.setItem("token", token);
            this.$store.dispatch("auth/token", token);
            localStorage.setItem("user", JSON.stringify(user));
            this.$store.dispatch("auth/user", user);
            this.$router.push("dashboardStreamer");
          }
        } catch (error) {
          this.submitStatus = null;
        }
      }
    },
  },
  beforeMount() {
    const token = localStorage.getItem("token") === "undefined" ? null : localStorage.getItem("token")
    if (token !== null)
      this.$router.push("dashboardStreamer");
  },
};
</script>


