<template>
  <div>
    <Header
      login="/loginStreamer"
      signup="/signupStreamer"
      title="Área Streamer"
    />
    <div class="vertical-center">
      <div class="inner-block">
        <div class="vue-tempalte" style="">
          <form @submit.prevent="submit">
            <h3>Cadastre-se</h3>
            <div
              :class="{ 'form-group form-group--error': $v.channelName.$error }"
            >
              <label>Nome do Canal</label>
              <input
                type="text"
                v-model.trim="$v.channelName.$model"
                class="form-control form-control-lg"
                required
                minlength="4"
              />
            </div>
            <br />
            <div :class="{ 'form-group form-group--error': $v.email.$error }">
              <label>Email</label>
              <input
                type="email"
                class="form-control form-control-lg"
                v-model.trim="$v.email.$model"
                required
                minlength="6"
              />
            </div>
            <br />
            <div
              :class="{ 'form-group form-group--error': $v.password.$error }"
            >
              <label>Senha</label>
              <input
                v-model="$v.password.$model"
                type="password"
                class="form-control form-control-lg"
                required
                minlength="6"
              />
            </div>
            <br />
            <div :class="{ 'form-group form-group--error': $v.bank.$error }">
              <label for="bankSelect">Banco</label>
              <select
                class="form-control"
                id="bankSelect"
                :required="true"
                v-model.trim="bank"
              >
                <option disabled selected="selected" :value=null>Selecione um banco</option>
                <option
                  v-for="bank in banks"
                  v-bind:value="bank.code"
                  :key="bank.code"
                >
                  {{ bank.fullName }}
                </option>
              </select>
            </div>
            <br />
            <div :class="{ 'form-group form-group--error': $v.agency.$error }">
              <label>Nº da Agência</label>
              <input
                type="number"
                v-model.trim="$v.agency.$model"
                class="form-control form-control-lg"
                required
                minlength="3"
              />
            </div>
            <br />
            <div
              :class="{ 'form-group form-group--error': $v.dvAgency.$error }"
            >
              <label>DV Agência (se houver)</label>
              <input
                type="number"
                v-model.trim="$v.dvAgency.$model"
                class="form-control form-control-lg"
              />
            </div>
            <br />
            <div :class="{ 'form-group form-group--error': $v.cc.$error }">
              <label>Conta Corrente</label>
              <input
                type="number"
                v-model.trim="$v.cc.$model"
                class="form-control form-control-lg"
                required
                minlength="3"
              />
            </div>
            <br />
            <div :class="{ 'form-group form-group--error': $v.dvCC.$error }">
              <label>DV Conta</label>
              <input
                type="number"
                v-model.trim="$v.dvCC.$model"
                class="form-control form-control-lg"
                required
                minlength="1"
                maxlength="1"
              />
            </div>

            <button
              type="submit"
              class="btn btn-dark btn-lg btn-block"
              style="margin-top: 30px"
              :disabled="submitStatus === 'PENDING'"
            >
              Cadastrar
            </button>

            <p class="typo__p" v-if="submitStatus === 'OK'">Login feito!</p>
            <p class="typo__p" v-if="submitStatus === 'ERROR'">
              Por favor informe corretamente os dados.
            </p>
            <p class="typo__p" v-if="submitStatus === 'NOT_FOUND'">
              Erro ao cadastrar.
            </p>
            <p class="typo__p" v-if="submitStatus === 'PENDING'">Aguarde...</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  required,
  minLength,
  email,
  maxLength,
} from "vuelidate/lib/validators";
import axios from "axios";
import { Endpoints } from "../../shared/endpoints";
import Header from "@/views/Header.vue";

export default {
  name: "SignupStreamerForm",
  data() {
    return {
      banks: [],
      channelName: "",
      email: "",
      password: "",
      bank: null,
      agency: "",
      dvAgency: "",
      cc: "",
      dvCC: "",
      submitStatus: null,
    };
  },
  components: {
    Header,
  },
  validations: {
    channelName: {
      required,
      minLength: minLength(4),
    },
    email: {
      required,
      email,
      minLength: minLength(6),
    },
    password: {
      required,
      minLength: minLength(6),
    },
    bank: {
      required,
      minLength: minLength(1),
    },
    cc: {
      required,
      minLength: minLength(3),
    },
    dvCC: {
      required,
      minLength: minLength(1),
      maxLength: maxLength(1),
    },
    agency: {
      required,
      minLength: minLength(3),
    },
    dvAgency: {},
  },

  mounted() {
    axios.get("https://brasilapi.com.br/api/banks/v1").then((resp) => {
      this.banks = resp.data;
    });
  },

  methods: {
    async submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        console.log(this.$v);
        this.submitStatus = "ERROR";
      } else {
        //   this.submitStatus = "PENDING";
        if (this.dvAgency === "") {
          this.dvAgency = 0;
        }
        console.log(this.agency);
        const data = {
          email: this.email,
          password: this.password,
          channelName: this.channelName,
          bank: this.bank,
          cc: parseInt(this.cc),
          dv_cc: parseInt(this.dvCC),
          agency: parseInt(this.agency),
          dv_agency: parseInt(this.dvAgency),
        };
        
        let createResp;
        try {
          createResp = await axios
            .post(Endpoints.BASE_URL + "/api/streamers/create-streamer", data)
            .catch((error) => {
              this.submitStatus = error;
            });
        } catch (error) {
          console.log("erro");
        }

        if (createResp !== undefined) {
          //console.log(response);

          const dataLogin = {
            username: this.email,
            password: this.password,
          };

          try {
            const respLogin = await axios
              .post(Endpoints.BASE_URL + "/api/users/auth/login", dataLogin)
              .catch((error) => {
                this.submitStatus = error;
              });

            const token = respLogin.data.responses.token["access_token"];

            const config = {
              headers: {
                Authorization: "Bearer " + token,
              },
            };

            let userResp;
            try {
              userResp = await axios.get(
                Endpoints.BASE_URL + "/api/streamers/get-streamer",
                config
              );
            } catch (error) {
              console.log("error");
            }

            this.submitStatus = "OK";
            const user = userResp.data.user;
            localStorage.setItem("token", token);
            this.$store.dispatch("auth/token", token);
            localStorage.setItem("user", JSON.stringify(user));
            this.$store.dispatch("auth/user", user);
            this.$router.push("dashboardStreamer");
          } catch (error) {
            this.submitStatus = "NOT_FOUND";
          }
        } else {
          this.submitStatus = "NOT_FOUND";
        }
      }
    },
  },

  beforeMount() {
    if (
      localStorage.getItem("token") !== "undefined" ||
      this.$store.state.auth.token
    )
      this.$router.push("dashboardStreamer");
  },
};
</script>

