<template>
  <b-form-group
    label="Valor"
    label-for="value-input"
    invalid-feedback="O valor é obrigatório"
    :state="valueState"
    ref="inputRef"
    type="text"
    :value="formattedValue"
  >
    <b-form-input
      ref="inputRef"
      type="text"
      :value="formattedValue"
      required
    ></b-form-input>
  </b-form-group>
</template>

<script>
import { useCurrencyInput } from "vue-currency-input";

export default {
  name: "CurrencyInput",
  props: {
    modelValue: Number, // Vue 2: value
    options: Object,
  },
  setup(props) {
    const { formattedValue, inputRef } = useCurrencyInput(props.options);

    return { inputRef, formattedValue };
  },
};
</script>