<template>
  <div>
    <Header login="/loginClient" signup="/signupClient" title="Área Cliente" />
    <div class="inner-block-dash">
      <div class="jumbotron" v-if="!error">
        <h2 class="display-4">Suas doações</h2>
        <br />
        <b-button class="btn btn-primary" variant="primary" v-b-modal.pix-modal
          >Doar via PIX</b-button
        >
        <b-modal
          id="pix-modal"
          title="Insira sua chave pix"
          @show="resetModalPix"
          @hidden="resetModalPix"
          @ok="handleOkPix"
        >
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <!-- <div :class="{ 'form-group form-group--error': $v.streamer.$error }"> -->
            <b-form-group
              label="Streamers"
              label-for="streamerSelect"
              invalid-feedback="Selecione um Canal"
              :state="streamerState"
            >
              <b-form-select
                class="form-control"
                id="streamerSelect"
                :required="true"
                v-model="streamerId"
              >
                <option disabled selected="selected" :value="null">
                  Selecione um Canal
                </option>
                <option
                  v-for="streamer in streamers"
                  v-bind:value="streamer.id"
                  :key="streamer.id"
                >
                  {{ streamer.channelName }}
                </option>
              </b-form-select>
            </b-form-group>
            <br />

            <b-form-group
              label="Chave Pix"
              label-for="pix-input"
              invalid-feedback="Chave é obrigatória"
              :state="pixState"
            >
              <b-form-input
                id="pix-input"
                v-model="pixKey"
                :state="pixState"
                required
              ></b-form-input>
            </b-form-group>
            <br />

            <b-form-group
              label="Valor"
              label-for="value-input"
              invalid-feedback="O valor é obrigatório"
              :state="valueState"
            >
              <b-form-input
                id="value-input"
                v-model="value"
                :state="valueState"
                required
                type="number"
              ></b-form-input>
            </b-form-group>
          </form>
        </b-modal>
        <!-- ======================================================== -->

        <b-button
          style="margin-left: 10px"
          variant="success"
          v-b-modal.credit-card-modal
        >
          Doar via Cartão de Crédito</b-button
        >
        <b-modal
          id="credit-card-modal"
          title="Insira sua chave pix"
          @show="resetModalCard"
          @hidden="resetModalCard"
          @ok="handleOkCard"
        >
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group
              label="Streamers"
              label-for="streamerSelect"
              invalid-feedback="Selecione um Canal"
              :state="streamerState"
            >
              <b-form-select
                class="form-control"
                id="streamerSelect"
                required
                v-model="streamerId"
              >
                <option disabled selected="selected" :value="null">
                  Selecione um Canal
                </option>
                <option
                  v-for="streamer in streamers"
                  v-bind:value="streamer.id"
                  :key="streamer.id"
                >
                  {{ streamer.channelName }}
                </option>
              </b-form-select>
            </b-form-group>
            <br />

            <b-form-group
              label="Número do Cartão de Crédito"
              label-for="card-input"
              invalid-feedback="Número do cartão é obrigatório"
              :state="cardNumberState"
            >
              <b-form-input
                id="card-input"
                v-model="cardNumber"
                :state="cardNumberState"
                required
              ></b-form-input>
            </b-form-group>
            <br />

            <b-form-group
              label="Data de validade"
              label-for="validateDate-input"
              invalid-feedback="A data de validade é obrigatória"
              :state="validateDateState"
            >
              <b-form-input
                id="card-input"
                v-model="validateDate"
                :state="validateDateState"
                required
              ></b-form-input>
            </b-form-group>
            <br />

            <b-form-group
              label="Código de segurança do cartão"
              label-for="cvv-input"
              invalid-feedback="O código de segurança é obrigatório"
              :state="cvvState"
            >
              <b-form-input
                id="card-input"
                v-model="cvv"
                :state="cvvState"
                required
                type="number"
              ></b-form-input>
            </b-form-group>
            <br />

            <b-form-group
              label="Valor"
              label-for="value-input"
              invalid-feedback="O valor é obrigatório"
              :state="valueState"
            >
              <b-form-input
                id="value-input"
                v-model="value"
                :state="valueState"
                required
                type="number"
              ></b-form-input>
            </b-form-group>
          </form>
        </b-modal>

        <hr class="my-4" />

        <h5 v-if="donations.length == 0">Você ainda não fez doações</h5>

        <table v-if="donations.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Streamer</th>
              <th scope="col">Tipo</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="donation in donations" :key="donation.id">
              <th scope="row">{{ donation.id }}</th>
              <td>{{ donation.streamer.channelName }}</td>
              <td>{{ donation.type }}</td>
              <td>R$ {{ donation.value.toFixed(2).replace(".", ",") }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 v-else>{{ error }}/</h4>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import { Endpoints } from "../../shared/endpoints";
import Header from "@/views/Header.vue";

export default {
  name: "DashboardTemplateClient",
  data() {
    return {
      streamers: [],
      donations: [],
      streamerId: null,
      pixKey: "",
      cardNumber: "",
      validateDate: "",
      cvv: "",
      error: null,
      value: 0,

      pixState: null,
      valueState: null,
      cardNumberState: null,
      validateDateState: null,
      cvvState: null,
      streamerState: null,

      errors: [],
    };
  },
  components: {
    Header,
  },
  beforeMount() {
    this.$store.dispatch("auth/user", JSON.parse(localStorage.getItem("user")));
    if (this.$store.state.auth.user.bank !== undefined) {
      this.$router.push("dashboardStreamer");
    }
  },
  async mounted() {
    const config = {
      headers: {
        Authorization: "Bearer " + localStorage.getItem("token"),
      },
    };
    const userId = this.$store.state.auth.user.id;
    const response = await axios
      .get(Endpoints.BASE_URL + "/api/clients/donations?id=" + userId, config)
      .catch((error) => {
        if (error.response.data.statusCode == 401) {
          localStorage.setItem("token", undefined);
          this.$store.dispatch("auth/token", null);
          this.auth = localStorage.getItem("token") !== "undefined";
          this.$router.push("/");
        } else {
          console.log(error);
        }
      });
    this.donations = response.data.data;

    const streamersResp = await axios.get(
      Endpoints.BASE_URL + "/api/streamers/get-all-streamers",
      config
    );

    this.streamers = streamersResp.data.data;
  },

  methods: {

    checkFormValidityPix() {
      const valid = this.$refs.form.checkValidity();
      console.log(this.$refs.form);
      this.pixState = valid;
      this.valueState = valid;
      this.streamerState = valid;
      return valid;
    },
    resetModalPix() {
      this.streamerId = null;
      this.streamerState = null;
      this.pixKey = "";
      this.pixState = null;
      this.value = "";
      this.valueState = null;
    },
    handleOkPix(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitPix();
    },
    async handleSubmitPix() {
      if (!this.checkFormValidityPix()) {
        return;
      }

      const clientId = parseInt(this.$store.state.auth.user.id);

      const data = {
        clientId: clientId,
        streamerId: parseInt(this.streamerId),
        pixKey: this.pixKey,
        value: parseFloat(this.value),
      };
      console.log(data);

      const config = {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      };

      await axios.post(
        Endpoints.BASE_URL + "/api/donations/donation-pix",
        data,
        config
      );

      const respoDonations = await axios.get(
        Endpoints.BASE_URL + "/api/clients/donations?id=" + clientId,
        config
      );
      this.donations = respoDonations.data.data;

      this.$bvModal.hide("pix-modal");
      this.$bvModal.hide("pix-modal");
      // this.$nextTick(() => {
      // });
    },

    checkFormValidityCard() {
      const valid = this.$refs.form.checkValidity();
      console.log(this.$refs.form);
      this.pixState = valid;
      this.valueState = valid;
      this.cardNumberState = valid;
      this.validateDateState = valid;
      this.cvvState = valid;
      this.streamerState = valid;
      return valid;
    },
    resetModalCard() {
      this.streamerId = null;
      this.streamerState = null;
      this.cardNumber = "";
      this.validateDate = "";
      this.cvv = "";
      this.cardNumberState = null;
      this.validateDateState = null;
      this.cvvState = null;
      this.pixKey = "";
      this.value = "";
      this.valueState = null;
    },
    handleOkCard(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmitCard();
    },
    async handleSubmitCard() {
      if (!this.checkFormValidityCard()) {
        return;
      }

      const clientId = parseInt(this.$store.state.auth.user.id);

      const data = {
        clientId: clientId,
        streamerId: parseInt(this.streamerId),
        cardNumber: this.cardNumber,
        validAt: this.validateDate,
        cvv: parseInt(this.cvv),
        value: parseFloat(this.value),
      };

      const config = {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
      };

      await axios.post(
        Endpoints.BASE_URL + "/api/donations/donation-credit-card",
        data,
        config
      );

      const respoDonations = await axios.get(
        Endpoints.BASE_URL + "/api/clients/donations?id=" + clientId,
        config
      );
      this.donations = respoDonations.data.data;

      this.$bvModal.hide("credit-card-modal");
      this.$bvModal.hide("credit-card-modal");
      console.log(this.$bvModal.hide("credit-card-modal"));
      // this.$nextTick(() => {
      // });
    },
  },
};
</script>