<template>
  <div>
    <Header login="/loginClient" signup="/signupClient" title="Área Cliente" />
    <div class="vertical-center">
      <div class="inner-block">
        <div class="vue-tempalte" style="">
          <form @submit.prevent="submit">
            <h3>Cadastre-se</h3>
            <div :class="{ 'form-group form-group--error': $v.name.$error }">
              <label>Nome</label>
              <input
                type="text"
                v-model.trim="$v.name.$model"
                class="form-control form-control-lg"
                required
                minlength="4"
              />
            </div>
            <br />
            <div :class="{ 'form-group form-group--error': $v.email.$error }">
              <label>Email</label>
              <input
                type="email"
                class="form-control form-control-lg"
                v-model.trim="$v.email.$model"
                required
                minlength="6"
              />
            </div>
            <br />
            <div
              :class="{ 'form-group form-group--error': $v.password.$error }"
            >
              <label>Senha</label>
              <input
                v-model="$v.password.$model"
                type="password"
                class="form-control form-control-lg"
                required
                minlength="6"
              />
            </div>

            <button
              type="submit"
              class="btn btn-dark btn-lg btn-block"
              style="margin-top: 30px"
              :disabled="submitStatus === 'PENDING'"
            >
              Cadastrar
            </button>

            <p class="typo__p" v-if="submitStatus === 'OK'">Login feito!</p>
            <p class="typo__p" v-if="submitStatus === 'ERROR'">
              Por favor informe corretamente os dados.
            </p>
            <p class="typo__p" v-if="submitStatus === 'NOT_FOUND'">
              Erro ao cadastrar.
            </p>
            <p class="typo__p" v-if="submitStatus === 'PENDING'">Aguarde...</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email } from "vuelidate/lib/validators";
import axios from "axios";
import { Endpoints } from "../../shared/endpoints";
import Header from "@/views/Header.vue";

export default {
  name: "SignupClientForm",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      submitStatus: null,
    };
  },
  components: {
    Header,
  },
  validations: {
    name: {
      required,
      minLength: minLength(4),
    },
    email: {
      required,
      email,
      minLength: minLength(6),
    },
    password: {
      required,
      minLength: minLength(6),
    },
  },
  methods: {
    async submit() {
      //console.log("submit!");
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        const data = {
          name: this.name,
          email: this.email,
          password: this.password,
        };
        let createResp;
        try {
          createResp = await axios
            .post(Endpoints.BASE_URL + "/api/clients/create-client", data)
            .catch((error) => {
              this.submitStatus = error;
            });
        } catch (error) {
          console.log("erro");
        }

        if (createResp !== undefined) {
          //console.log(response);

          const dataLogin = {
            username: this.email,
            password: this.password,
          };

          try {
            const respLogin = await axios
              .post(Endpoints.BASE_URL + "/api/users/auth/login", dataLogin)
              .catch((error) => {
                this.submitStatus = error;
              });

            const token = respLogin.data.responses.token["access_token"];

            const config = {
              headers: {
                Authorization: "Bearer " + token,
              },
            };

            let userResp;
            try {
              userResp = await axios.get(
                Endpoints.BASE_URL + "/api/clients/get-client",
                config
              );
            } catch (error) {
              console.log("error");
            }

            this.submitStatus = "OK";
            const user = userResp.data.user;
            localStorage.setItem("token", token);
            this.$store.dispatch("auth/token", token);
            localStorage.setItem("user", JSON.stringify(user));
            this.$store.dispatch("auth/user", user);
            this.$router.push("dashboardClient");
          } catch (error) {
            this.submitStatus = "NOT_FOUND";
          }
        } else {
          this.submitStatus = "NOT_FOUND";
        }
      }
    },
  },

  beforeMount() {
    if (
      localStorage.getItem("token") !== "undefined" ||
      this.$store.state.auth.token
    )
      this.$router.push("dashboardClient");
  },
};
</script>

