<template>
  <div class="dashboard">
    <DashboardTemplateClient />
  </div>
</template>

<script>
 import DashboardTemplateClient from '@/components/client/DashboardTemplateClient.vue'

export default {
  name: 'DashboardClient',
  components: {
    DashboardTemplateClient
  },
  beforeRouteEnter(to, from, next){
    next(() => {
      // console.log(vm)
      // console.log(localStorage.getItem('token') !== "undefined")
      if(localStorage.getItem('token') !== "undefined"){
        next()
      }else{
        next({ name: 'LoginClient' })
      }
    })
  }
}


</script>

