<template>
  <div class="loginClient">
    <LoginClientForm />
  </div>
</template>

<script>
import LoginClientForm from "@/components/client/LoginClientForm.vue";

export default {
  name: "LoginClient",
  components: {
    LoginClientForm,
  },
};
</script>