<template>
  <div class="signup">
    <SignupClientForm />
  </div>
</template>

<script>
 import SignupClientForm from '@/components/client/SignupClientForm.vue'

export default {
  name: 'SignupClient',
  components: {
    SignupClientForm
  }
}
</script>