<template>
  <div class="dashboard">
    <DashboardTemplateStreamer />
  </div>
</template>

<script>
 import DashboardTemplateStreamer from '@/components/streamer/DashboardTemplateStreamer.vue'

export default {
  name: 'DashboardClient',
  components: {
    DashboardTemplateStreamer
  },
  beforeRouteEnter(to, from, next){
    next(() => {
      // console.log(vm)
      // console.log(localStorage.getItem('token') !== "undefined")
      if(localStorage.getItem('token') !== "undefined"){
        next()
      }else{
        next({ name: 'LoginStreamer' })
      }
    })
  }
}


</script>

