<template>
  <div class="LoginStreamer">
    <LoginStreamerForm />
  </div>
</template>

<script>
import LoginStreamerForm from "@/components/streamer/LoginStreamerForm.vue";

export default {
  name: "LoginStreamer",
  components: {
    LoginStreamerForm,
  },
};
</script>