<template>
  <div class="signup">
    <SignupStreamerForm />
  </div>
</template>

<script>
 import SignupStreamerForm from '@/components/streamer/SignupStreamerForm.vue'

export default {
  name: 'SignupStreamer',
  components: {
    SignupStreamerForm
  }
}
</script>