<template>
  <div class="header">
    <HeaderTemplate v-bind:login="login"  v-bind:signup="signup" v-bind:title="title"/>
  </div>
</template>

<script>
import HeaderTemplate from "@/components/HeaderTemplate.vue";

export default {
  name: "header",
  components: {
    HeaderTemplate,
  },
  props: {
    login: {
      type: String,
      required: true,
    },
    signup: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
};
</script>