<template>
  <div>
    <PageNotFound />
  </div>
</template>

<script>
 import PageNotFound from '@/components/PageNotFound.vue'

export default {
  name: 'NotFound',
  components: {
    PageNotFound
  }
}
</script>