<template>
  <div class="vue-tempalte">
    <!-- Navigation -->
    <nav
      class="
        navbar
        shadow
        bg-white
        justify-content-between
        flex-nowrap flex-row
        fixed-top
      "
    >
      <div class="container">
        <a class="navbar-brand float-left" style="color: black"> {{ title }} </a>
        <ul class="nav navbar-nav flex-row float-right">
          <li v-if="!this.$store.state.auth.token" class="nav-item">
            <router-link
              class="btn light"
              style="margin-right: 10px"
              to="/"
              >Home</router-link
            >
          </li>
          <li v-if="!this.$store.state.auth.token" class="nav-item">
            <router-link
              class="btn light"
              style="margin-right: 10px"
              v-bind:to="`${login}`"
              >Login</router-link
            >
          </li>
          <li v-if="!this.$store.state.auth.token" class="nav-item">
            <router-link
              class="btn btn-outline-secondary"
              v-bind:to="`${signup}`"
              >Cadastre-se</router-link
            >
          </li>
          <li v-if="this.$store.state.auth.token" class="nav-item">
            <button class="btn btn-secondary" @click="logout">Sair</button>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main -->
    <div class="App">
      <router-view />
    </div>
  </div>
</template>


<script>
// import Login from './components/Login.vue'

export default {
  name: "headerTemplate",
  data: () => ({
    auth: false,
  }),
  props: {
    login: {
      type: String,
      required: true,
    },
    signup: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  methods: {
    logout() {
      localStorage.setItem("token", undefined);
      this.$store.dispatch("auth/token", null);
      localStorage.setItem("user", undefined);
      this.$store.dispatch("auth/user", null);
      this.auth = localStorage.getItem("token") !== "undefined";
      this.$router.push("/");
    },
  },
  mounted() {
    this.$store.state.auth.token =
      localStorage.getItem("token") == "undefined"
        ? null
        : localStorage.getItem("token");
  },
};
</script>