<template>
  <div class="inner-block-dash" style="align: center">
    <button type="button" class="btn btn-primary btn-lg" @click="loginClient">Área do Cliente</button>
    <button style="margin-left: 20px" type="button" class="btn btn-success btn-lg" @click="loginStreamer">Área do Streamer</button>
  </div>
</template>


<script>

export default {
  name: "Home",
  data() {
    return {
      user: {},
      error: null,
    };
  },
methods:{
    loginClient(){
      this.$router.push('/loginClient')
    },
    loginStreamer(){
      this.$router.push('/loginStreamer')
    }
}
};
</script>