<template>
  <div class="vue-tempalte">
    <div id="app">
      <!-- Main -->
      <div class="App">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "App",
};
</script>
